.menu-container {
    position: relative;
    width: 40%;
}

.gear-icon {
    position: relative;
    left: 45%;
    width: fit-content;
}

.gear-dot {
    position: relative;
    z-index: 1;
}

.dot {
    position: relative;
    left: -58%;
    top: -25px;
    height: 11px;
    width: 11px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.background-circle {
    background-color: var(--color-darkslateblue-100);
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    top: -13px;
    left: -13px;
    z-index: 0;
    border: solid 7px white;
    box-shadow: 0 6px 20px rgba(40, 41, 61, 0.22);
}

.page-container {
    overflow: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-content {
    margin-top: 15px;
    display: flex;
    padding: 10px 10px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 8px;
    border: 10px solid white;
    background: var(--color-darkslateblue-100);
    box-shadow: 0 7px 20px 0 rgba(40, 41, 61, 0.10);
}

.info-text {
    font-size: 18px;
    color: var(--color-gainsboro-100);
    font-weight: 600;
    position: relative;
    top: -15px;
}

.list {
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 280px;
    min-height: 32px;
    width: 100%;
    position: relative;
    top: -20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}