.info-text {
    font-size: 18px;
    color: var(--color-gainsboro-100);
    font-weight: 600;
    position: relative;
    top: -15px;
}

.meals-list {
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 280px;
    min-height: 32px;
    width: 100%;
    position: relative;
    top: -20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.meal-entry {
    font-size: 15px;
    margin: 4px;
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    grid-template-rows: 1fr;
    max-height: 32px;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: var(--grey-500);
    margin: 5px;
}

.modal-text {
    color: var(--grey-500);
    font-size: 16px;
}

.button {
    text-align: center;
    display: flex;
    height: 25px;
    width: 230px;
    margin: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--grey-200);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
    color: var(--brand-dark);
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
}

h3 {
    margin: 0;
}

.modal-body {
    margin-bottom: 10px;
}

#home {
    grid-column-end: span 2;
}

.button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


.buttons {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.meals {
    width: 40%;
}

#csv-input {
    position: relative;
    left: 5%;
}