{% extends "common.html.jinja" %}

{% block head %}
<link rel="stylesheet" href="static/css/config.css">
{% block stylesheets %} {% endblock %}
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="menu-container">
        <div class="gear-icon">
            <div class="gear-dot">
                <img src="static/public/gear.svg" alt="gear"/>
                <span class="dot"></span>
            </div>
            <div class="background-circle"></div>
        </div>
        <div class="menu-content">
            {% block menu_content %}
            {% endblock %}
        </div>
    </div>
    {% block modal %}
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}