{% extends "common.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="static/css/home.css">
{% endblock %}

{% block body %}
<div class="new-home-page">
    <div class="meal-display">
        <div class="meal-card-parent">
            <div class="meal-card">
                <div class="base4"></div>
                <div class="frame-group">
                    <div class="frame-container">
                        <div class="homepage-design-parent">
                            <div class="homepage-design">Tuesday</div>
                            <div class="more"></div>
                        </div>
                        <div class="iconfilledflag-parent">
                            <img
                                    class="iconfilledflag"
                                    alt="Document Icon"
                                    src="static/public/iconfilledflag.svg"
                            />
                            <div class="homepage-design1">Chicken Cordon Blue</div>
                        </div>
                    </div>
                    <div class="homepage-design2">
                        <p class="chicken-breast-stuffed">
                            Chicken breast stuffed with ham and swiss cheese,
                        </p>
                        <p class="chicken-breast-stuffed">
                            then coated with breadcrumbs and baked until
                        </p>
                        <p class="chicken-breast-stuffed">
                            crispy. Flavorful combination of chicken, ham,
                        </p>
                        <p class="and-cheese">
                            and cheese.
                        </p>
                    </div>
                    <div class="frame-div">
                        <div class="frame-parent1">
                            <div class="homepage-design-group">
                                <div class="homepage-design3">Meal Frequency</div>
                                <div class="homepage-design4">32%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-child"></div>
                                <div class="progress-item"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="refresh-icon" alt="refresh" src="static/public/refresh.svg">
            </div>
            <div class="meal-card">
                <div class="base4"></div>
                <div class="frame-group">
                    <div class="frame-container">
                        <div class="homepage-design-wrapper">
                            <div class="homepage-design">Wednesday</div>
                        </div>
                        <div class="iconfilledflag-parent">
                            <img
                                    class="iconfilledflag"
                                    alt=""
                                    src="static/public/iconfilledflag1.svg"
                            />
                            <div class="homepage-design1">Filet with Potatoes</div>
                        </div>
                    </div>
                    <div class="homepage-design2">
                        <p class="chicken-breast-stuffed">
                            Simple and delicious dish featuring a tender filet
                        </p>
                        <p class="chicken-breast-stuffed">
                            mignon steak paired with roasted or mashed
                        </p>
                        <p class="chicken-breast-stuffed">
                            potatoes. It’s a comforting and flavorful
                        </p>
                        <p class="and-cheese">combination of steak and potatoes.</p>
                    </div>
                    <div class="frame-div">
                        <div class="frame-parent1">
                            <div class="homepage-design-group">
                                <div class="homepage-design3">Meal Frequency</div>
                                <div class="homepage-design4">64%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-child"></div>
                                <div class="rectangle-div"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="refresh-icon" alt="" src="static/public/refresh1.svg"/>
            </div>
            <div class="meal-card">
                <img class="refresh-icon2" alt="" src="static/public/refresh2.svg"/>
                <div class="base4"></div>
                <div class="frame-group">
                    <div class="frame-container">
                        <div class="homepage-design-frame">
                            <div class="homepage-design">Thursdsay</div>
                        </div>
                        <div class="iconfilledflag-parent">
                            <img
                                    class="iconfilledflag"
                                    alt=""
                                    src="static/public/iconfilledflag2.svg"
                            />
                            <div class="homepage-design1">Steak and Eggs</div>
                        </div>
                    </div>
                    <div class="homepage-design2">
                        <p class="chicken-breast-stuffed">
                            Steak and eggs is a classic breakfast or brunch dish
                        </p>
                        <p class="chicken-breast-stuffed">
                            that consists of a grilled steak served with fried or
                        </p>
                        <p class="chicken-breast-stuffed">
                            scrambled eggs. It’s a hearty and satisfying meal
                        </p>
                        <p class="and-cheese">that’s a perfect start to your day.</p>
                    </div>
                    <div class="frame-div">
                        <div class="frame-parent1">
                            <div class="homepage-design-group">
                                <div class="homepage-design3">Meal Frequency</div>
                                <div class="homepage-design4">10%</div>
                            </div>
                            <div class="progress">
                                <div class="progress-child"></div>
                                <div class="progress-child2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="refresh-icon" alt="" src="static/public/refresh1.svg"/>
            </div>
        </div>
    </div>
    <div class="meal-card3">
        <div class="base7">
            <div class="base-inner">
                <div class="frame-parent1">
                    <div class="homepage-design-group">
                        <div class="homepage-design3">Meal Frequency</div>
                        <div class="homepage-design4">32%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-child"></div>
                        <div class="progress-item"></div>
                    </div>
                </div>
            </div>
            <div class="base8">
                <div class="base-child"></div>
                <div class="today">Today</div>
            </div>
        </div>
        <div class="frame-parent9">
            <div class="frame-parent1">
                <div class="more-wrapper">
                    <div class="more"></div>
                </div>
                <div class="iconfilledflag-parent1">
                    <img
                            class="iconfilledflag"
                            alt=""
                            src="static/public/iconfilledflag.svg"
                    />
                    <div class="homepage-design1">Chicken Cordon Blue</div>
                </div>
            </div>
            <div class="homepage-design18">
                Chicken breast stuffed with ham and swiss cheese, then coated with
                breadcrumbs and baked until crispy. Flavorful combination of
                chicken, ham, and cheese.
            </div>
        </div>
    </div>
    <img class="refresh-icon4" alt="" src="static/public/refresh.svg"/>
    <div class="interaction-menu">
        <div class="base9"></div>
        <div class="list2">
            <div class="listdefault"></div>
            <div class="title">
                <div class="homepage-design">Welcome, Name</div>
            </div>
            <div class="child">
                <div class="iconlightuser-parent">
                    <img
                            class="iconlightuser"
                            alt=""
                            src="static/public/iconlightuser.svg"
                    />
                    <div class="user-info-wrapper">
                        <div class="user-info">User Info</div>
                    </div>
                </div>
                <div class="iconlightcalendar-parent">
                    <img
                            class="iconlightcalendar"
                            alt=""
                            src="static/public/iconlightcalendar.svg"
                    />
                    <div class="homepage-design">Weekly Plans</div>
                </div>
                <div class="iconlightcalendar-parent">
                    <img
                            class="iconlightcalendar"
                            alt=""
                            src="static/public/recipes-icon.svg"
                    />
                    <div class="homepage-design">Recipes</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}