{% extends "common.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="static/css/home.css">
{% endblock %}

{% block body %}
<div class="page-container">
  <div style="width: 1177px; height: 273px; left: 119px; top: 526px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex">
    <div style="width: 1282px; justify-content: flex-start; align-items: flex-start; gap: 57px; display: inline-flex">
      <div style="width: 356px; height: 275px; position: relative">
        <div style="width: 356px; height: 275px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08); border-radius: 8px; border: 1px #E3E6EB solid"></div>
        <div style="left: 17px; top: 19px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 28px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="width: 324px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
              <div style="color: #121212; font-size: 18px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Today</div>
              <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 16px; word-wrap: break-word">Category</div>
              </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="width: 22px; height: 22px; position: relative">
                <div style="width: 13.12px; height: 15.99px; left: 4.88px; top: 2.01px; position: absolute">
                  <div style="width: 13.12px; height: 15.99px; left: 0px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 3.48px; left: 9.26px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 6.95px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 9.04px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 11.13px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 0px; left: 3.09px; top: 13.21px; position: absolute; border: 1.40px #5E6893 solid"></div>
                </div>
              </div>
              <div style="color: #5E6893; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken Cordon Blue</div>
            </div>
          </div>
          <div style="color: #3A3C40; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken breast stuffed with ham and swiss cheese,<br/>then coated with breadcrumbs and baked until<br/>crispy. Flavorful combination of chicken, ham,<br/>and cheese.</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div style="justify-content: flex-start; align-items: center; gap: 160px; display: inline-flex">
                <div style="width: 127px; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Meal Frequency</div>
                <div style="text-align: right; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">32%</div>
              </div>
              <div style="width: 316px; height: 5.58px; position: relative">
                <div style="width: 6px; height: 316px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #E3E6EB; border-radius: 9px"></div>
                <div style="width: 6px; height: 94.80px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #6761A8; border-radius: 9px"></div>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 35px; height: 35.26px; left: 333px; top: -16.12px; position: absolute">
          <div style="width: 35px; height: 35.26px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          <div style="width: 19px; height: 16.12px; left: 8px; top: 10.07px; position: absolute">
            <div style="width: 11.60px; height: 13.39px; left: 1.31px; top: 2.73px; position: absolute; background: #5E6893"></div>
            <div style="width: 11.60px; height: 13.43px; left: 6.10px; top: 0px; position: absolute; background: #5E6893"></div>
            <div style="width: 5.07px; height: 4.98px; left: 0px; top: 2.45px; position: absolute; background: #5E6893"></div>
            <div style="width: 5.07px; height: 4.98px; left: 13.93px; top: 8.68px; position: absolute; background: #5E6893"></div>
          </div>
        </div>
      </div>
      <div style="width: 356px; height: 275px; position: relative">
        <div style="width: 356px; height: 275px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08); border-radius: 8px; border: 1px #E3E6EB solid"></div>
        <div style="left: 17px; top: 19px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 28px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="width: 324px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
              <div style="color: #121212; font-size: 18px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Tomorrow</div>
              <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 16px; word-wrap: break-word">Category</div>
              </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="width: 22px; height: 22px; position: relative">
                <div style="width: 13.12px; height: 15.99px; left: 4.88px; top: 2.01px; position: absolute">
                  <div style="width: 13.12px; height: 15.99px; left: 0px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 3.48px; left: 9.26px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 6.95px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 9.04px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 11.13px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 0px; left: 3.09px; top: 13.21px; position: absolute; border: 1.40px #5E6893 solid"></div>
                </div>
              </div>
              <div style="color: #5E6893; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken Cordon Blue</div>
            </div>
          </div>
          <div style="color: #3A3C40; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken breast stuffed with ham and swiss cheese,<br/>then coated with breadcrumbs and baked until<br/>crispy. Flavorful combination of chicken, ham,<br/>and cheese.</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div style="justify-content: flex-start; align-items: center; gap: 160px; display: inline-flex">
                <div style="width: 127px; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Meal Frequency</div>
                <div style="text-align: right; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">32%</div>
              </div>
              <div style="width: 316px; height: 5.58px; position: relative">
                <div style="width: 6px; height: 316px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #E3E6EB; border-radius: 9px"></div>
                <div style="width: 6px; height: 94.80px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #6761A8; border-radius: 9px"></div>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 35px; height: 35.26px; left: 333px; top: -16.12px; position: absolute">
          <div style="width: 35px; height: 35.26px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          <div style="width: 19px; height: 16.12px; left: 8px; top: 10.07px; position: absolute">
            <div style="width: 11.60px; height: 13.39px; left: 1.31px; top: 2.73px; position: absolute; background: #5E6893"></div>
            <div style="width: 11.60px; height: 13.43px; left: 6.10px; top: 0px; position: absolute; background: #5E6893"></div>
            <div style="width: 5.07px; height: 4.98px; left: 0px; top: 2.45px; position: absolute; background: #5E6893"></div>
            <div style="width: 5.07px; height: 4.98px; left: 13.93px; top: 8.68px; position: absolute; background: #5E6893"></div>
          </div>
        </div>
      </div>
      <div style="width: 356px; height: 275px; position: relative">
        <div style="width: 35px; height: 35.26px; left: 400px; top: 99px; position: absolute">
          <div style="width: 35px; height: 35.26px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          <div style="width: 24px; height: 24.18px; left: 6px; top: 6.04px; position: absolute">
            <img style="width: 14px; height: 10.07px; left: 5px; top: 7.05px; position: absolute" src="https://via.placeholder.com/14x10" />
          </div>
          <div style="width: 35px; height: 35.26px; left: 35px; top: 83.38px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0">
            <div style="width: 35px; height: 35.26px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
            <div style="width: 24px; height: 24.18px; left: 6px; top: 6.04px; position: absolute">
              <img style="width: 14px; height: 10.07px; left: 5px; top: 7.05px; position: absolute" src="https://via.placeholder.com/14x10" />
            </div>
          </div>
        </div>
        <div style="width: 356px; height: 275px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08); border-radius: 8px; border: 1px #E3E6EB solid"></div>
        <div style="width: 35px; height: 35.26px; left: 333px; top: -16.12px; position: absolute">
          <div style="width: 35px; height: 35.26px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25); border-radius: 9999px"></div>
          <div style="width: 19px; height: 16.12px; left: 8px; top: 10.07px; position: absolute">
            <div style="width: 11.60px; height: 13.39px; left: 1.31px; top: 2.73px; position: absolute; background: #475284"></div>
            <div style="width: 11.60px; height: 13.43px; left: 6.10px; top: 0px; position: absolute; background: #475284"></div>
            <div style="width: 5.07px; height: 4.98px; left: 0px; top: 2.45px; position: absolute; background: #475284"></div>
            <div style="width: 5.07px; height: 4.98px; left: 13.93px; top: 8.68px; position: absolute; background: #475284"></div>
          </div>
        </div>
        <div style="left: 17px; top: 19px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 28px; display: inline-flex">
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="width: 324px; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
              <div style="color: #121212; font-size: 18px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Wednesday</div>
              <div style="padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: flex">
                <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 16px; word-wrap: break-word">Category</div>
              </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
              <div style="width: 22px; height: 22px; position: relative">
                <div style="width: 13.12px; height: 15.99px; left: 4.88px; top: 2.01px; position: absolute">
                  <div style="width: 13.12px; height: 15.99px; left: 0px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 3.48px; left: 9.26px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 6.95px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 9.04px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 6.95px; height: 0px; left: 3.09px; top: 11.13px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 3.86px; height: 0px; left: 3.09px; top: 13.21px; position: absolute; border: 1.40px #5E6893 solid"></div>
                </div>
              </div>
              <div style="color: #5E6893; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken Cordon Blue</div>
            </div>
          </div>
          <div style="color: #3A3C40; font-size: 12px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Chicken breast stuffed with ham and swiss cheese,<br/>then coated with breadcrumbs and baked until<br/>crispy. Flavorful combination of chicken, ham,<br/>and cheese.</div>
          <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
            <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
              <div style="justify-content: flex-start; align-items: center; gap: 160px; display: inline-flex">
                <div style="width: 127px; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Meal Frequency</div>
                <div style="text-align: right; color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">32%</div>
              </div>
              <div style="width: 316px; height: 5.58px; position: relative">
                <div style="width: 6px; height: 316px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #E3E6EB; border-radius: 9px"></div>
                <div style="width: 6px; height: 94.80px; left: 0px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; background: #6761A8; border-radius: 9px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-container">
      <div class="container-shadow"></div>
      <div class="container-blue-bar"></div>
      <div class="menu-content">
        <div class="menu-title">
          Welcome, Name <!-- Need to replace Name with name from DB. -->
        </div>
        <div style="width: 352px; height: 146px; flex-direction: column; justify-content: space-between; align-items: flex-start; display: flex">
          <div class="option-container">
              <span class="fa-regular fa-user fa-sm"></span>
              <div class="option-text">User Info</div>
          </div>
          <div style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="width: 26px; height: 26px; justify-content: center; align-items: center; display: flex">
              <div style="width: 26px; height: 26px; padding-left: 3.66px; padding-right: 3.66px; padding-top: 2.62px; padding-bottom: 2.62px; justify-content: center; align-items: center; display: inline-flex">
                <div style="width: 18.69px; height: 20.76px; position: relative">
                  <div style="width: 18.50px; height: 0px; left: 0.10px; top: 7.69px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 13.96px; top: 11.74px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 9.35px; top: 11.74px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 4.73px; top: 11.74px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 13.96px; top: 15.78px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 9.35px; top: 15.78px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0.01px; height: 0px; left: 4.73px; top: 15.78px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0px; height: 3.42px; left: 13.54px; top: 0px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 0px; height: 3.42px; left: 5.16px; top: 0px; position: absolute; border: 1.70px #5E6893 solid"></div>
                  <div style="width: 18.69px; height: 19.12px; left: 0px; top: 1.64px; position: absolute; border: 1.70px #5E6893 solid"></div>
                </div>
              </div>
            </div>
            <div style="color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Today’s Date</div>
          </div>
          <div style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="width: 26px; height: 26px; justify-content: center; align-items: center; display: flex">
              <div style="width: 26px; height: 26px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                <div style="width: 16.25px; height: 21.99px; position: relative">
                  <div style="width: 16.25px; height: 21.99px; left: 0px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 4.78px; height: 4.78px; left: 11.47px; top: 0px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 8.60px; height: 0px; left: 3.82px; top: 9.56px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 8.60px; height: 0px; left: 3.82px; top: 12.43px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 8.60px; height: 0px; left: 3.82px; top: 15.29px; position: absolute; border: 1.40px #5E6893 solid"></div>
                  <div style="width: 4.78px; height: 0px; left: 3.82px; top: 18.16px; position: absolute; border: 1.40px #5E6893 solid"></div>
                </div>
              </div>
            </div>
            <div style="color: #3A3C40; font-size: 14px; font-family: Montserrat; font-weight: 600; text-decoration: underline; word-wrap: break-word">Add Recipe</div>
          </div>
        </div>
      </div>
    </div>
  <div class="brand-container">
    <div class="container-shadow"></div>
    <div class="container-blue-bar"></div>
    <div class="brand-content">
        <div class="date-icon-container">
            <img
                class="combined-shape-icon1"
                alt="Calendar Icon"
                src="static/public/combined-shape.svg"
            />

            <div class="divider-container">
                <div class="divider"></div>
            </div>
</div>
        <span>Personal</span><b>Palate</b>
        <br>
        <span class="brand-description">Meal Recommendation System</span>
    </div>
  </div>
{#  <div style="width: 356px; height: 275px; left: 530px; top: 211px; position: absolute">#}
{#    <div style="height: 275px; padding-top: 62px; padding-bottom: 22px; padding-left: 16px; padding-right: 16px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08); border-radius: 8px; border: 1px #E3E6EB solid; flex-direction: column; justify-content: flex-end; align-items: flex-start; gap: 15px; display: inline-flex">#}
{#      <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">#}
{#        <div style="width: 24px; height: 24px; position: relative">#}
{#          <img style="width: 16px; height: 16px; left: 4px; top: 4px; position: absolute" src="https://via.placeholder.com/16x16" />#}
{#          <img style="width: 6.71px; height: 6.71px; left: 8.29px; top: 8.29px; position: absolute" src="https://via.placeholder.com/7x7" />#}
{#        </div>#}
{#        <div style="text-align: center; color: #121212; font-size: 18px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Quick Actions</div>#}
{#      </div>#}
{#      <div style="align-self: stretch; height: 40px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">#}
{#        <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 16px; word-wrap: break-word">View Following</div>#}
{#      </div>#}
{#      <div style="align-self: stretch; height: 40px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">#}
{#        <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 600; line-height: 16px; word-wrap: break-word">View Recipes</div>#}
{#      </div>#}
{#      <div style="align-self: stretch; height: 40px; padding-left: 24px; padding-right: 24px; padding-top: 8px; padding-bottom: 8px; background: #E3E6EB; box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08); border-radius: 4px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">#}
{#        <div style="text-align: center; color: #4D4D4D; font-size: 12px; font-family: Montserrat; font-weight: 700; line-height: 16px; word-wrap: break-word">Logout</div>#}
{#      </div>#}
{#    </div>#}
{#    <div style="width: 356px; height: 46px; left: 0px; top: 0px; position: absolute; background: #475284; box-shadow: 0px 7px 20px rgba(40, 41, 61, 0.08); border-top-left-radius: 8px; border-top-right-radius: 8px; border: 1px #E3E6EB solid"></div>#}
{#  </div>#}
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
