{% extends "common.html.jinja" %}

{% block head %}
    <link rel="stylesheet" href="static/css/settings.css">
{% endblock %}

{% block body %}
    <div class="new-settings">
        <div class="icons24ic-settings1">
            <div class="icons24ic-settings-child">
                <img class="gear-icon" alt="" src="static/public/gear.svg"/>
                <img class="p-icon" alt="" src="static/public/60p.svg"/>
            </div>
        </div>
        <div class="base2">
            <div class="base3">
                <div class="search-accounts1">
                    <div class="cursor-group">
                        <div class="cursor1"></div>
                        <div class="hint-text1">Search Recipes. . .</div>
                    </div>
                    <div class="fieldsiconsic-dropdown1">
                        <div class="txt2">Search</div>
                    </div>
                </div>
                <div class="search-recipes2">
                    <div class="list1">
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                        <div class="fieldsdropdownitemcheckbox-6">
                            <img
                                    class="icons24ic-plus"
                                    alt=""
                                    src="static/public/fieldsiconsic-calendar.svg"
                            />
                            <div class="hint-text1">Recipe</div>
                            <div class="sub6">Edit</div>
                        </div>
                    </div>
                </div>
                <div class="search-accounts1">
                    <div class="cursor-group">
                        <div class="cursor1"></div>
                        <div class="hint-text1">Follow User . . .</div>
                    </div>
                    <div class="fieldsiconsic-dropdown1">
                        <div class="txt2">Follow</div>
                    </div>
                </div>
                <div class="allow-followers">
                    <div class="hint-text1">Allow Users to Follow You</div>
                    <div class="iconcheckoff">
                        <div class="rectangle"></div>
                        <div class="rectangle1"></div>
                    </div>
                </div>
                <div class="upload-recipe">
                    <img
                            class="icons24ic-plus"
                            alt=""
                            src="static/public/icons24ic-plus.svg"
                    />
                    <div class="hint-text1">Upload Recipe</div>
                    <div class="sub6">File Name</div>
                </div>
                <div class="save-settings1">
                    <div class="txt2">Save Settings</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}