{% extends "config.html.jinja" %}

{% block stylesheets %}
    <link rel="stylesheet" href="static/css/settings.css">
{% endblock %}

{% block menu_content %}

{% endblock %}

{% block modal %}
{% endblock %}

{% block scripts %}
    <script src="static/js/settings.js"></script>
{% endblock %}