{% extends "common.html.jinja" %}

{% block head %}
<link rel="stylesheet" href="static/css/signup.css"/>
<link rel="stylesheet" href="static/css/landing.css"/>
{% endblock %}

{% block body %}
<div class="page-container">
    <div class="content-container">
        <div class="date-icon-container">
            <img
                class="combined-shape-icon1"
                alt="Calendar Icon"
                src="static/public/combined-shape.svg"
            />

            <div class="divider-container">
                <div class="divider"></div>
            </div>
        </div>
        <div class="title-text">Sign Up</div>
        <form class="frame-parent1" action="/signup" id="signup" method="post">
            <div class="frame-wrapper">
                <div class="frame-parent2">
                    <div class="line-group">
                        <div class="line-container">
                            <div class="line"></div>
                        </div>
                        <div class="brand-container">
                            <span>Personal</span><b>Palate</b>
                        </div>
                    </div>
                    <div class="frame-parent3">
                        <div class="input-group">
                            <div class="input">
                                <input class="rectangle-text-input" type="text" id="name" name="name" required />
                                <label for="name">Name</label>
                            </div>
                            <div class="input">
                                <input class="rectangle-text-input" type="email" id="email" name="email" required />
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <div class="stretched-input">
                                <input class="rectangle-text-input" type="password" id="password" name="password" required />
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invalid-credentials" id="invalid" hidden>
                Email already in use!
            </div>
            <input type="submit" class="button" value="Create Account" />
            <div class="navigate-to-new-page-container" id="returnToSignIn">
                Already have an account? Return to
                <span class="link-text">Sign In</span>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/user.js"></script>
{% endblock %}