.combined-shape-icon {
  position: relative;
  width: 101.3px;
  height: 101.3px;
  z-index: 0;
}
.divider {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12xs);
  background-color: var(--brand-light);
}
.icons24ic-date,
.p {
  mix-blend-mode: normal;
}
.p {
  position: absolute;
  margin: 0 !important;
  height: 12.54%;
  width: 62.49%;
  top: 37.22%;
  right: 19.05%;
  bottom: 50.25%;
  left: 18.46%;
  opacity: 0.6;
  z-index: 1;
}
.icons24ic-date {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.sign-in-icon {
  position: relative;
  width: 236px;
  height: 66px;
}
.line-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslateblue-100);
}
.line {
  position: relative;
  width: 90px;
  height: 4px;
}
.personalpalate {
  position: absolute;
  top: 0;
  left: 0;
}
.personalpalate-wrapper {
  position: relative;
  width: 138px;
  height: 22px;
}
.line-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--title-text-title-3-size);
}
.text-input {
  position: relative;
  font-weight: 500;
  display: none;
}
.inputdefaultracktangletrue {
  position: absolute;
  height: 63.89%;
  width: 100%;
  top: 36.11%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-3xs) var(--padding-base)
    var(--padding-mini);
}
.label14 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--text-14-size);
  font-weight: 600;
  color: var(--grey-500);
}
.input {
  position: relative;
  width: 232px;
  height: 72px;
}
.frame-wrapper,
.input-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-parent {
  flex-direction: row;
  gap: var(--gap-9xl);
}
.frame-wrapper {
  flex-direction: column;
  color: var(--grey-400);
}
.button1 {
  position: relative;
  font-weight: 600;
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue-100);
  width: 499px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  color: var(--white);
}
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.create-an-account {
  text-decoration: underline;
}
.new-user-create-container {
  position: relative;
  font-weight: 600;
  color: var(--grey-500);
  text-align: center;
  cursor: pointer;
}
.sign-in {
  position: absolute;
  top: 291px;
  left: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.login-page {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--button-text-button-text-semi-bold-12-size);
  color: var(--color-darkslateblue-100);
  font-family: var(--button-text-button-text-semi-bold-12);
}
