.combined-shape-icon1 {
  position: relative;
  width: 101.3px;
  height: 101.3px;
  z-index: 0;
}
.divider1,
.p1 {
  position: absolute;
}
.divider1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-12xs);
  background-color: var(--brand-light);
}
.p1 {
  margin: 0 !important;
  height: 12.54%;
  width: 62.49%;
  top: 37.22%;
  right: 19.05%;
  bottom: 50.25%;
  left: 18.46%;
  opacity: 0.6;
  mix-blend-mode: normal;
  z-index: 1;
}
.icons24ic-date1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  mix-blend-mode: normal;
}
.sign-up1 {
  position: relative;
  font-weight: 800;
  display: inline-block;
  width: 282px;
  height: 86.1px;
  flex-shrink: 0;
}
.line-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--brand-light);
}
.line1 {
  width: 90px;
  height: 4px;
}
.line1,
.personalpalate1 {
  position: relative;
}
.line-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text-input2 {
  position: relative;
  font-weight: 500;
  display: none;
}
.inputdefaultracktangletrue2 {
  position: absolute;
  height: 63.89%;
  width: 100%;
  top: 36.11%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--grey-100);
  border: 1px solid var(--grey-300);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-3xs) var(--padding-base)
    var(--padding-mini);
}
.label16 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--text-14-size);
  font-weight: 600;
  color: var(--grey-500);
}
.input2 {
  position: relative;
  width: 232px;
  height: 72px;
}
.input-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.input4 {
  position: relative;
  width: 492px;
  height: 72px;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13 {
  gap: var(--gap-xl);
  font-size: var(--button-text-button-text-semi-bold-12-size);
  color: var(--grey-400);
}
.frame-parent12,
.frame-parent13,
.frame-wrapper3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent12 {
  gap: 48px;
}
.frame-wrapper3 {
  font-size: var(--title-text-title-3-size);
}
.button3 {
  position: relative;
  font-weight: 600;
}
.button2 {
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue-100);
  width: 491px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}
.sign-in1 {
  text-decoration: underline;
}
.return-to-sign-container {
  position: relative;
  font-weight: 600;
  color: var(--grey-500);
  cursor: pointer;
}
.frame-parent11,
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent11 {
  align-items: center;
  gap: var(--gap-xl);
  font-size: var(--button-text-button-text-semi-bold-12-size);
}
.sign-up {
  position: absolute;
  top: 220px;
  left: 474px;
  align-items: flex-start;
  gap: 21px;
}
.sign-up-page {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 68px;
  color: var(--brand-light);
  font-family: var(--button-text-button-text-semi-bold-12);
}
